<div class="home-container">
    <h1 class="title">TaskApp</h1>
    <h4 class="description">Create, organize and update your task anytime, anywhere.</h4>
    <%= link_to "Sign up for free", new_user_registration_path, class: "btn btn-purple btn-home" %>
</div>