/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 *,
*::before,
*::after{  /* reset spaces due to html elements like p, h, etc */
    padding: 0;
    box-sizing: border-box;
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 20px;
    color: slategray;
    line-height: 1.4;
    max-width: 75em;
    margin: 0 auto;
    background-color: white;
}

html{
    height: 100%;              /* for the page to take full window height */
    box-sizing: border-box;    /* to have the footer displayed at the bottom of the page without scrolling */
    /*border: 1px solid black;*/
}

body {
    position: relative;        /* for the footer to move with the page size */
    min-height: 100%;          /* for the footer to be at the bottom */
    /*padding-bottom: 4rem; */    /* Space available between last element and bottom border of the page */
    /*border: 1px solid black;*/
}

div{
    /*border: 1px solid green;*/
}

