@import "bootstrap";

html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.task-title {
    color: #454380;
    &:hover {
        color: #55529C;
    }
}

.btn-peach {
    background-color: #E58675;
    color: #FFF;
    &:hover {
        color: #FFF;
    }
}

.btn-purple {
    background-color: #454380;
    color: #FFF;
    &:hover {
        background-color: #55529C;
        color: #FFF;
    }
}

.btn-orange {
    background-color: #F2A76A;
    color: #FFF;
    &:hover {
        color: #FFF;
    }
}

.task-form-container{
    width: 24rem;
}