<div class="d-flex justify-content-center">
    <div class="card flex-column shadow p-3 mb-5 bg-body rounded" style="width: 28rem;">
        <div class="form-container">
            <div class="title">
              <h2>Add New Category</h2>
            </div>
            <%= render "form", category: @category %>
        </div>
    </div>
</div>
