<div>
    <div>
        <h1><%= @category.name %></h1><br>
        <p class="p-2 btn-group btn-group-sm">
        <%= link_to "Back", root_path(@category) %>
        <%= link_to "Edit", edit_category_path(@category) %>
        <%= link_to "Delete", category_path(@category),
          method: :delete,
          data: { confirm: "Are you sure?" } %>
    </div>
</div>
